@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Sorts%20Mill%20Goudy:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Work%20Sans:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {
	font-family: "iconfont";
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?112ef843a506fc9e394b54afd0902fd7")
		format("woff2");
}
[class*="--icon-"]::before {
	font-family: iconfont;
}
[class*="--icon-star"]::before {
	content: "\f101";
}
[class*="--icon-star-circle"]::before {
	content: "\f102";
}
[class*="--icon-s-yu"]::before {
	content: "\f103";
}
[class*="--icon-s-xt"]::before {
	content: "\f104";
}
[class*="--icon-s-in"]::before {
	content: "\f105";
}
[class*="--icon-s-fc"]::before {
	content: "\f106";
}
[class*="--icon-rate"]::before {
	content: "\f107";
}
[class*="--icon-phone"]::before {
	content: "\f108";
}
[class*="--icon-mark"]::before {
	content: "\f109";
}
[class*="--icon-location"]::before {
	content: "\f10a";
}
[class*="--icon-date"]::before {
	content: "\f10b";
}
[class*="--icon-clock"]::before {
	content: "\f10c";
}
[class*="--icon-bag"]::before {
	content: "\f10d";
}
[class*="--icon-article"]::before {
	content: "\f10e";
}
[class*="--icon-arrow"]::before {
	content: "\f10f";
}




/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  background: #181411 url("../assets/img/bg.png") center/contain repeat;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 93.75rem;
  margin: 0 auto;
}
[class*=__container-large] {
  margin: 0 auto;
  max-width: 120rem;
}
[class*="--border-42"] {
  overflow: hidden;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  border-radius: 2.5rem;
  background: rgba(44, 37, 32, 0.42);
  outline: 0.0625rem solid #5c4228;
}
[class*="--border-69"] {
  overflow: hidden;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  border-radius: 2.5rem;
  background: rgba(44, 37, 32, 0.69);
  outline: 0.0625rem solid #5c4228;
}
[class*="--border-bg"] {
  border: 0.0625rem solid #5c4228;
}



/* Generated by vite-plugin-svg-spritemap */
.socials {
  gap: 0.6rem;
  display: flex;
}
.socials__link {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 0.5s, background 0.5s;
}
.socials__link--dark {
  color: #000;
  border: 0.0625rem solid #000;
}
.socials__link--lite {
  color: #fed1a7;
  border: 0.0625rem solid #fed1a7;
}
.socials__link--icon-s-xt {
  padding-bottom: 0.0625rem;
}
.socials__link--icon-s-yu {
  padding-bottom: 0.25rem;
}



/* Generated by vite-plugin-svg-spritemap */
.swiper {
  overflow: hidden;
}
.swiper-initialized {
  touch-action: pan-y;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}
.swiper-button-lock {
  display: none !important;
}



/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
}
.menu__item {
  flex: 1 1 auto;
}
.menu__link {
  width: 100%;
  display: flex;
  min-height: 4.3125rem;
  border-radius: 3.75rem;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.71;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transition: opacity 0.5s;
}
.menu__link--active {
  pointer-events: none;
  backdrop-filter: blur(0.375rem);
  -webkit-backdrop-filter: blur(0.375rem);
  background: rgba(44, 37, 32, 0.42);
  outline: 0.0625rem solid #5c4228;
}
.icon-menu {
  display: none;
}



/* Generated by vite-plugin-svg-spritemap */
.header {
  width: 100%;
  z-index: 15;
  position: fixed;
  transition: margin-top 0.4s, background 0.4s;
}
.bar-header {
  padding-block: 0.5rem;
  background: #fed1a7;
}
.bar-header__container-large {
  row-gap: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.9375rem;
  align-items: center;
  justify-content: space-between;
}
.bar-header__side {
  display: flex;
  align-items: center;
}
.bar-header__label {
  gap: 0.75rem;
  display: flex;
  line-height: 1.5;
  color: #000;
  align-items: center;
  font-family: "Jost", sans-serif;
}
.bar-header__label::before {
  font-size: 0.9375rem;
  color: #9a5c23;
}
.main-header {
  position: relative;
}
.main-header::before {
  background: rgba(121, 79, 69, 0.05);
  border-bottom: 0.0625rem solid rgba(254, 209, 167, 0.1);
  backdrop-filter: blur(0.9375rem);
  -webkit-backdrop-filter: blur(0.9375rem);
  opacity: 0;
  visibility: hidden;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.5s, visibility 0.5s;
}
.--header-scroll .main-header::before {
  opacity: 1;
  visibility: visible;
}
.main-header__container-large {
  display: flex;
  padding-block: 1.875rem;
  align-items: center;
  justify-content: space-between;
  transition: padding-block 0.5s;
}
.--header-scroll .main-header__container-large {
  padding-block: 0.9375rem;
}
.main-header__logo {
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  padding: 0 2.0625rem;
  min-height: 4.3125rem;
  position: relative;
  align-items: center;
  justify-content: center;
}
.main-header__action {
  gap: 0.9375rem;
  display: flex;
  align-items: center;
}
.main-header__bag {
  width: 4.3125rem;
  height: 4.3125rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.main-header__bag::before {
  transition: opacity 0.5s;
}
.main-header__button {
  z-index: 1;
  position: relative;
}



/* Generated by vite-plugin-svg-spritemap */
/* [data-fls-header-scroll-show] {
	&.--header-scroll {
		transition: translate 0.3s;
		translate: 0rem -100%;
	}
	&.--header-show {
		translate: 0 0;
	}
} */



/* Generated by vite-plugin-svg-spritemap */



/* Generated by vite-plugin-svg-spritemap */
.button {
  gap: 0.75rem;
  padding: 0 1.875rem;
  font-size: 0.875rem;
  min-height: 3.75rem;
  font-weight: 600;
  line-height: 1.71;
  color: #000;
  letter-spacing: 0.0625rem;
  align-items: center;
  border-radius: 2.5rem;
  display: inline-flex;
  background: #fed1a7;
  justify-content: center;
  text-transform: uppercase;
  outline: 0.0625rem solid transparent;
  transition: color 0.5s, outline 0.5s, background 0.5s;
}
.button::before, .button::after {
  content: "\f101";
  font-family: "iconfont";
  transition: rotate 0.5s;
}
.button--dark {
  color: #fff;
  background: #2c2520;
  outline: 0.0625rem solid #5c4228;
}
.button--large {
  padding: 0 2.5625rem;
  min-height: 4.3125rem;
}
.button--fw {
  width: 100%;
}



/* Generated by vite-plugin-svg-spritemap */
.headed > * {
  margin-bottom: 0.1875rem;
}
.headed--center {
  text-align: center;
}
.headed--center .headed__title,
.headed--center .headed__text {
  margin: 0 auto;
}
.headed__title {
  max-width: 51.25rem;
  line-height: 1.22;
  color: #fed1a7;
  font-family: "Sorts Mill Goudy", sans-serif;
  text-transform: capitalize;
}
.headed__text {
  max-width: 41.25rem;
  line-height: 1.62;
  color: #cac3bc;
}
.headed > *:last-child {
  margin-bottom: 0;
}



/* Generated by vite-plugin-svg-spritemap */



/* Generated by vite-plugin-svg-spritemap */
.hero {
  text-align: center;
  border-bottom: 0.0625rem solid #5c4228;
  background: url("../assets/img/hero/image.jpg") center top/cover no-repeat;
}
.hero__actions {
  gap: 0.9375rem;
  display: inline-flex;
}
.dest__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.dest__headed > * {
  margin-bottom: 0.9375rem;
}
.dest__view {
  position: relative;
}
.dest__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  object-position: center;
  border: 0.0625rem solid #5c4228;
}
.caption-dest__body span {
  display: block;
  line-height: 1.62;
  text-align: center;
}
.caption-dest__circles {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4375rem;
  justify-content: center;
}
.caption-dest__circle {
  width: 4.3125rem;
  height: 4.3125rem;
  display: flex;
  font-size: 1.6875rem;
  overflow: hidden;
  line-height: 1.37;
  color: #000;
  border-radius: 50%;
  align-items: center;
  background: #fed1a7;
  justify-content: center;
  font-family: "Sorts Mill Goudy", sans-serif;
  border: 0.25rem solid #211c17;
}
.caption-dest__circle:not(:first-child) {
  margin-left: -1.3125rem;
}
.skill-dest {
  display: grid;
}
.skill-dest__label {
  line-height: 1.37;
  color: #fff;
  margin-bottom: 0.875rem;
  font-family: "Sorts Mill Goudy", sans-serif;
  text-transform: capitalize;
}
.skill-dest__line {
  height: 0.5625rem;
  border-radius: 0.625rem;
  background-color: #23201d;
  outline: 0.0625rem solid #5c4228;
}
.skill-dest__line span {
  height: 0.5625rem;
  display: block;
  position: relative;
  background: #8e6845;
  border-radius: 0.625rem;
}
.skill-dest__line span::before {
  top: 50%;
  right: 0;
  rotate: 45deg;
  content: "\f101";
  color: #fed1a7;
  position: absolute;
  translate: 50% -50%;
  font-family: "iconfont";
}
.skill-dest__line span::after {
  right: 0;
  top: -1rem;
  line-height: 1.37;
  position: absolute;
  translate: 50% -100%;
  font-family: "Sorts Mill Goudy", sans-serif;
  text-transform: capitalize;
}
.skill-dest__line--84 span::after {
  content: "84%";
}
.skill-dest__line--76 span::after {
  content: "76%";
}
.skill-dest__line--92 span::after {
  content: "92%";
}
.guide__body {
  overflow: hidden;
}
.guide__body {
  background: url("../assets/img/hero/image.jpg") center/cover no-repeat;
}
.guide__slider {
  overflow: visible;
}
.guide__dotts {
  gap: 2.5625rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.guide__dotts .swiper-pagination-bullet {
  z-index: 1;
  position: relative;
}
.guide__dotts .swiper-pagination-bullet::before {
  color: #836d57;
  cursor: pointer;
  font-size: 1.5625rem;
  content: "\f101";
  transition: color 0.5s;
  font-family: "iconfont";
}
.guide__dotts .swiper-pagination-bullet:not(:last-child)::after {
  top: 0;
  bottom: 0;
  left: 0.625rem;
  z-index: -1;
  content: "";
  width: 3.75rem;
  height: 0.0625rem;
  margin: auto 0;
  translate: 0 -0.0625rem;
  position: absolute;
  background: #836d57;
}
.guide__dotts .swiper-pagination-bullet-active::before {
  color: #fed1a7;
}
.slide-guide {
  text-align: center;
}
.slide-guide__image {
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  border: 0.0625rem solid #5c4228;
}
.slide-guide__image img {
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s;
  object-position: center;
}
.slide-guide__label {
  line-height: 1.37;
  margin-bottom: 0.375rem;
  transition: color 0.5s;
  font-family: "Sorts Mill Goudy", sans-serif;
  text-transform: capitalize;
}
.slide-guide__text {
  color: #cac3bc;
  line-height: 1.62;
  transition: color 0.5s;
}
@media (max-width: 79.37375em){
  .main-header__logo {
    width: 4.3125rem;
    padding: 0.75rem;
  }
}
@media (max-width: 61.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em){
  .menu__body {
    background: rgba(121, 79, 69, 0.1);
    backdrop-filter: blur(0.9375rem);
    -webkit-backdrop-filter: blur(0.9375rem);
    display: grid;
    row-gap: 1.5625rem;
    align-items: start;
    grid-template-rows: 1fr auto;
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.0625rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  .--header-scroll .menu__body {
    padding: 6.1875rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__link {
    font-size: 1.25rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fed1a7;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .bar-header {
    display: none;
  }
  .main-header__logo {
    width: 3.6875rem;
    min-height: 3.6875rem;
  }
  .main-header__bag {
    width: 3.6875rem;
    height: 3.6875rem;
  }
  .button {
    padding: 0 1.5625rem;
    min-height: 3.125rem;
  }
  .button--large {
    padding: 0 2.25rem;
    min-height: 3.6875rem;
  }
  .hero {
    padding-top: 8.375rem;
  }
  .dest__container {
    align-items: start;
    grid-template-columns: 1fr;
  }
  .dest__view {
    order: 2;
  }
  .dest__skill {
    order: 1;
  }
}
@media (max-width: 48em){
  [class*=__container] {
    padding-left: 0.9375rem;
  }
  [class*=__container] {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 47.99875em){
  .dest__image {
    margin-bottom: 1.25rem;
  }
  .guide__dotts {
    gap: 0.875rem;
  }
  .guide__dotts .swiper-pagination-bullet::before {
    font-size: 1.25rem;
  }
  .guide__dotts .swiper-pagination-bullet:not(:last-child)::after {
    width: 2.1875rem;
  }
}
@media (max-width: 29.99875em){
  .main-header__button {
    width: 100%;
  }
  .hero__actions {
    width: 100%;
    flex-direction: column;
  }
  .caption-dest__circle {
    width: 4rem;
    height: 4rem;
    font-size: 1.5625rem;
  }
}
@media (max-width: 20em){
  [class*="--border-bg"] {
    padding-top: 3.75rem;
  }
  [class*="--border-bg"] {
    border-radius: 1.25rem;
  }
  [class*="--border-bg"] {
    padding-bottom: 3.75rem;
  }
  .headed__title {
    font-size: 1.5rem;
  }
  .headed__title--title-60 {
    font-size: 2rem;
  }
  .headed__text {
    font-size: 0.875rem;
  }
  .hero {
    padding-bottom: 1.875rem;
  }
  .hero__decore {
    margin-bottom: 1.375rem;
  }
  .hero__headed {
    margin-bottom: 1.875rem;
  }
  .dest {
    padding-top: 3.75rem;
  }
  .dest {
    padding-bottom: 3.75rem;
  }
  .dest__container {
    gap: 1.8125rem;
  }
  .dest__headed {
    margin-bottom: 1.4375rem;
  }
  .dest__skill {
    margin-bottom: 1.875rem;
  }
  .caption-dest__body {
    padding: 0.9375rem;
  }
  .caption-dest__body {
    border-radius: 1.25rem;
  }
  .skill-dest {
    gap: 2rem;
  }
  .skill-dest__label {
    font-size: 1.125rem;
  }
  .skill-dest__line span::before {
    font-size: 1.5rem;
  }
  .skill-dest__line span::after {
    font-size: 1.125rem;
  }
  .guide__body {
    padding-left: 1.8125rem;
  }
  .guide__body {
    padding-right: 1.8125rem;
  }
  .guide__slider {
    padding-top: 2.5rem;
  }
  .guide__slider {
    padding-bottom: 2.5rem;
  }
  .slide-guide__image {
    margin-bottom: 1.25rem;
  }
  .slide-guide__label {
    font-size: 1.25rem;
  }
  .slide-guide__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 93.75em){
  [class*="--border-bg"] {
    padding-top: clamp( 3.75rem , 2.2245762711875rem  +  7.6271186441vw , 9.375rem );
  }
  [class*="--border-bg"] {
    border-radius: clamp( 1.25rem , 1.080508474575rem  +  0.8474576271vw , 1.875rem );
  }
  [class*="--border-bg"] {
    padding-bottom: clamp( 3.75rem , 2.2245762711875rem  +  7.6271186441vw , 9.375rem );
  }
  .headed__title {
    font-size: clamp( 1.5rem , 1.1440677966125rem  +  1.7796610169vw , 2.8125rem );
  }
  .headed__title--title-60 {
    font-size: clamp( 2rem , 1.5254237288125rem  +  2.3728813559vw , 3.75rem );
  }
  .headed__text {
    font-size: clamp( 0.875rem , 0.8411016949125rem  +  0.1694915254vw , 1rem );
  }
  .hero {
    padding-bottom: clamp( 1.875rem , 0.85805084745625rem  +  5.0847457627vw , 5.625rem );
  }
  .hero__decore {
    margin-bottom: clamp( 1.375rem , 1.17161016949375rem  +  1.0169491525vw , 2.125rem );
  }
  .hero__headed {
    margin-bottom: clamp( 1.875rem , 1.36652542373125rem  +  2.5423728814vw , 3.75rem );
  }
  .dest {
    padding-top: clamp( 3.75rem , 2.2245762711875rem  +  7.6271186441vw , 9.375rem );
  }
  .dest {
    padding-bottom: clamp( 3.75rem , 2.2245762711875rem  +  7.6271186441vw , 9.375rem );
  }
  .dest__container {
    gap: clamp( 1.8125rem , 1.30402542373125rem  +  2.5423728814vw , 3.6875rem );
  }
  .dest__headed {
    margin-bottom: clamp( 1.4375rem , 0.92902542373125rem  +  2.5423728814vw , 3.3125rem );
  }
  .dest__skill {
    margin-bottom: clamp( 1.875rem , 1.36652542373125rem  +  2.5423728814vw , 3.75rem );
  }
  .caption-dest__body {
    padding: clamp( 0.9375rem , 0.71716101695rem  +  1.1016949153vw , 1.75rem );
  }
  .caption-dest__body {
    border-radius: clamp( 1.25rem , 1.080508474575rem  +  0.8474576271vw , 1.875rem );
  }
  .skill-dest {
    gap: clamp( 2rem , 1.76271186440625rem  +  1.186440678vw , 2.875rem );
  }
  .skill-dest__label {
    font-size: clamp( 1.125rem , 0.97245762711875rem  +  0.7627118644vw , 1.6875rem );
  }
  .skill-dest__line span::before {
    font-size: clamp( 1.5rem , 1.3644067796625rem  +  0.6779661017vw , 2rem );
  }
  .skill-dest__line span::after {
    font-size: clamp( 1.125rem , 0.97245762711875rem  +  0.7627118644vw , 1.6875rem );
  }
  .guide__body {
    padding-left: clamp( 1.8125rem , 1.13453389830625rem  +  3.3898305085vw , 4.3125rem );
  }
  .guide__body {
    padding-right: clamp( 1.8125rem , 1.13453389830625rem  +  3.3898305085vw , 4.3125rem );
  }
  .guide__slider {
    padding-top: clamp( 2.5rem , 2.16101694915rem  +  1.6949152542vw , 3.75rem );
  }
  .guide__slider {
    padding-bottom: clamp( 2.5rem , 2.16101694915rem  +  1.6949152542vw , 3.75rem );
  }
  .slide-guide__image {
    margin-bottom: clamp( 1.25rem , 1.080508474575rem  +  0.8474576271vw , 1.875rem );
  }
  .slide-guide__label {
    font-size: clamp( 1.25rem , 1.13135593220625rem  +  0.593220339vw , 1.6875rem );
  }
  .slide-guide__text {
    font-size: clamp( 0.875rem , 0.8411016949125rem  +  0.1694915254vw , 1rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 120em){
  .bar-header__side {
    gap: clamp( 0.9375rem , -0.93741862120625rem  +  3.9061821843vw , 3.75rem );
  }
}
@media (min-width: 47.99875em){
  .caption-dest {
    left: -0.03125rem;
    bottom: -0.03125rem;
    padding-top: 1.75rem;
    position: absolute;
    padding-right: 1.75rem;
    border-radius: 0 1.25rem 0 0;
    border-top: 0.0625rem solid #5c4228;
    border-right: 0.0625rem solid #5c4228;
    background: #181411 url("../assets/img/bg.png") center/cover no-repeat;
  }
}
@media (min-width: 48em) and (max-width: 120em){
  [class*=__container] {
    padding-left: clamp( 0.9375rem , 0.3125rem  +  1.3020833333vw , 1.875rem );
  }
  [class*=__container] {
    padding-right: clamp( 0.9375rem , 0.3125rem  +  1.3020833333vw , 1.875rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 120em){
  .menu__link {
    padding-left: clamp( 1.25rem , -0.7542267408rem  +  3.2326889507vw , 3.125rem );
  }
  .menu__link {
    padding-right: clamp( 1.25rem , -0.7542267408rem  +  3.2326889507vw , 3.125rem );
  }
  .hero {
    padding-top: clamp( 12.125rem , 8.7846220986625rem  +  5.3878149178vw , 15.25rem );
  }
}
@media (min-width: 61.99875em){
  .menu__list {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
  }
  .main-header__container-large {
    gap: 1.25rem;
  }
  [data-fls-header-scroll].--header-scroll {
    margin-top: -2.5rem;
  }
}
@media (min-width: 79.37375em){
  .main-header__logo img {
    width: 11.3125rem;
  }
}
@media (min-width: 93.75em){
  [class*="--border-bg"] {
    padding-top: 9.375rem;
  }
  [class*="--border-bg"] {
    border-radius: 1.875rem;
  }
  [class*="--border-bg"] {
    padding-bottom: 9.375rem;
  }
  .headed__title {
    font-size: 2.8125rem;
  }
  .headed__title--title-60 {
    font-size: 3.75rem;
  }
  .headed__text {
    font-size: 1rem;
  }
  .hero {
    padding-bottom: 5.625rem;
  }
  .hero__decore {
    margin-bottom: 2.125rem;
  }
  .hero__headed {
    margin-bottom: 3.75rem;
  }
  .dest {
    padding-top: 9.375rem;
  }
  .dest {
    padding-bottom: 9.375rem;
  }
  .dest__container {
    gap: 3.6875rem;
  }
  .dest__headed {
    margin-bottom: 3.3125rem;
  }
  .dest__skill {
    margin-bottom: 3.75rem;
  }
  .caption-dest__body {
    padding: 1.75rem;
  }
  .caption-dest__body {
    border-radius: 1.875rem;
  }
  .skill-dest {
    gap: 2.875rem;
  }
  .skill-dest__label {
    font-size: 1.6875rem;
  }
  .skill-dest__line span::before {
    font-size: 2rem;
  }
  .skill-dest__line span::after {
    font-size: 1.6875rem;
  }
  .guide__body {
    padding-left: 4.3125rem;
  }
  .guide__body {
    padding-right: 4.3125rem;
  }
  .guide__slider {
    padding-top: 3.75rem;
  }
  .guide__slider {
    padding-bottom: 3.75rem;
  }
  .slide-guide__image {
    margin-bottom: 1.875rem;
  }
  .slide-guide__label {
    font-size: 1.6875rem;
  }
  .slide-guide__text {
    font-size: 1rem;
  }
}
@media (min-width: 120em){
  [class*=__container] {
    padding-left: 1.875rem;
  }
  [class*=__container] {
    padding-right: 1.875rem;
  }
  .menu__link {
    padding-left: 3.125rem;
  }
  .menu__link {
    padding-right: 3.125rem;
  }
  .bar-header__side {
    gap: 3.75rem;
  }
  .hero {
    padding-top: 15.25rem;
  }
}
@media (any-hover: hover){
  .socials__link--dark:hover {
    color: #fff;
    background: #000;
  }
  .socials__link--lite:hover {
    color: #000;
    background: #fed1a7;
  }
  .menu__link:hover {
    opacity: 0.65;
  }
  .bar-header__label:hover span {
    text-decoration: underline;
  }
  .main-header__bag:hover::before {
    opacity: 0.65;
  }
  .button:hover {
    color: #fff;
    outline: 0.0625rem solid #5c4228;
    background: rgba(44, 37, 32, 0.42);
  }
  .button:hover::before, .button:hover::after {
    rotate: 90deg;
  }
  .slide-guide:hover .slide-guide__image img {
    scale: 1.1;
  }
  .slide-guide:hover .slide-guide__label {
    color: #fed1a7;
  }
  .slide-guide:hover .slide-guide__text {
    color: #fff;
  }
  .slide-guide__label:hover {
    text-decoration: underline;
  }
}